@media (max-width: 1000px) {
    .row-cols-5 {
      --bs-cols: 3;
    }
  }
  

.container-sneaker {
    display: flex;
    flex:1;
    width:100%;
    flex-wrap: wrap;
    

}
.sneaker-box{
 flex: 1;  
}